@font-face {
    font-family: "Gilroy";
    src:
        local("Gilroyextrabold"),
        url("../fonts/gilroy/Gilroyextrabold.ttf") format("truetype");
}

@font-face {
    font-family: "Gilroylight";
    src:
        local("Gilroylight"),
        url("../fonts/gilroy/Gilroylight.ttf") format("truetype");
}

@font-face {
    font-family: "OpenSans Regular";
    src:
        local("OpenSans-Regular"),
        url("../fonts/open_sans/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "OpenSans Light";
    src:
        local("OpenSans-Light"),
        url("../fonts/open_sans/OpenSans-Light.ttf") format("truetype");
}

body {
    font-size: 15px;
    line-height: 30px;
    color: #464646;
    font-family: "OpenSans Light", "Arial", sans-serif;
    min-width: 1200px;
    margin: 0;
    padding: 0;
}

.title1 {
    font-size: 47px;
    color: #000000;
    line-height: 1.2em;
    font-family: "Gilroy", "Arial", sans-serif;
}

.title2 {
    font-size: 16px;
    color: #000000;
    font-weight: 900;
    font-family: "Gilroy", "Arial", sans-serif;;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.title3 {
    font-size: 18px;
    color: #000000;
    font-weight: 900;
    font-family: "Gilroy", "Arial", sans-serif;;
    letter-spacing: 0.01em;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.main-header {
    margin-top: 40px;
}

.container,
.container-catalog {
    width: 1160px;
    min-height: 299px;
    margin: 0 auto;
}

.container-catalog {
    min-height: 185px;
}

.block-vision1 {
    background-color: #f7e296;
}

.header-topline,
.header-topline,
.main-navigation {
    position: relative;
    padding: 0 60px;
}

.header-topline {
    padding-top: 40px;
}

.header-logo {
    position: absolute;
    top: -20px;
}

.search-form {
    position: relative;
    margin: 0;
    padding: 0;
    float: left;
    width: 440px;
    border-bottom: 2px solid transparent;
}

.search-form input {
    padding: 0;
    padding-left: 4px;
    font: inherit;
    color: #000000;
    line-height: 36px;
    letter-spacing: 0.01em;
    border: inherit;
    background-color: inherit;
}

.search-form input::-webkit-input-placeholder {
    color: #000000;
}

.search-form input[type="text"] {
    width: 402px;
    padding-left: 38px;
    padding-bottom: 10px;
    opacity: 0.3;
}

.search-form input[type="text"]:hover {
    opacity: 0.6;
}

.search-form input[type="text"]:focus {
    opacity: 1;
    outline: none;
    border-bottom: 2px solid #000000;
}

.search-form input[type="image"] {
    position: absolute;
    top: 12px;
}

.search-btn {
    position: absolute;
    right: 0;
    top: -3px;
    width: 85px;
    height: 49px;
    font: inherit;
    background: none;
    border: none;
    color: transparent;
    outline: 2px solid transparent;
}

.search-form input[type="text"]:focus ~ .search-btn {
    color: #000000;
    outline: 2px solid #000000;
}

.search-form input[type="text"]:focus ~ .search-btn:hover {
    color: #ffffff;
    background-color: #000000;
}

.search-btn:active {
    color: #4d4d4d;
    background-color: #000000;
}

.header-user-block {
    float: right;
    margin: 0;
    margin-top: 3px;
    padding: 0;
}

.header-user-block a {
    position: relative;
    margin: 0;
    padding: 0;
    padding-left: 15px;
    margin-left: 46px;
    font: inherit;
    color: inherit;
    vertical-align: bottom;
    text-decoration: inherit;
}

.header-user-block a:first-child {
    margin-right: 174px;
}

.header-user-block a:hover {
    opacity: 0.6;
}

.header-user-block a:focus {
    opacity: 0.3;
}

.header-user-block a::before {
    content: "";
    position: absolute;
    left: -11px;
    bottom: 4px;
    width: 14px;
    height: 14px;
    background: url("../img/header-user.svg") no-repeat center;
}

.header-user-block a:nth-child(2)::before {
    left: -8px;
    bottom: 2px;
    background: url("../img/header-compare.svg") no-repeat center;
}

.header-user-block a:last-child::before {
    left: -10px;
    background: url("../img/header-cart.svg") no-repeat center;
}

.main-navigation {
    margin-top: 20px;
}

.main-navigation a {
    margin: 0;
    padding: 0;
    text-decoration: inherit;
    font-family: "Gilroy";
    font-size: 18px;
    color: #000000;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.main-navigation a:hover {
    opacity: 0.6;
}

.main-navigation a:active {
    opacity: 0.3;
}

.main-navigation::after {
    content: "";
    position: absolute;
    left: 600px;
    top: 115px;
    width: 100px;
    height: 7px;
    background-color: #ffffff;
}

.catalog {
    margin: 0;
    padding: 0;
    list-style: none;
}

.catalog > li {
    float: left;
    width: 240px;
    position: relative;
    cursor: pointer;
}

.catalog-title:before {
    content: "";
    position: absolute;
    right: -6px;
    top: 6px;
    width: 16px;
    height: 16px;
    background: url("../img/plus.svg") no-repeat;
    opacity: 0.3;
}

.catalog-menu {
    display: none;
    margin: 0;
    padding: 0 60px;
    list-style: none;
    padding-top: 33px;
    position: absolute;
    left: -60px;
    width: 1040px;
    height: 120px;
    font-size: 0;
    background: #f7e296;
    z-index: 1;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    
}

.catalog > li:hover .catalog-menu {
    display: flex;
}

.catalog-menu a {
    font-family: "OpenSans Light";
    font-size: 15px;
    text-transform: none;
    letter-spacing: 0.01em;
    line-height: 36px;
    margin-right: 58px;
}

.services-menu {
    float: right;
    width: 520px;
}

.services-menu a {
    display: inline-block;
    float: left;
    padding-left: 20px;
}
.services-menu a:first-child {
    margin-right: 14px;
}

.services-menu a:last-child {
    float: right;
}

.slider {
    position: relative;
    top: -142px;
}

.slider input[type=radio] {
    display: none;
}

.slider-controls label {
    position: relative;
    z-index: 1;
    left: 997px;
    top: 348px;
    display: inline-block;
    width: 4px;
    height: 4px;
    margin: 0 3px;
    margin-right: 17px;
    cursor: pointer;
    border-radius: 50%;
    border: 3px solid rgba(178, 178, 178, 0.3);
}

.slider-controls label:hover {
    border: 3px solid rgba(153, 153, 153, 0.4);
}

.slider-controls label:active {
border: 3px solid rgba(0, 0, 0, 1);
}

#btn-1:checked ~ .slider-controls label[for="btn-1"] {
    border-color: #000000;
}

#btn-2:checked ~ .slider-controls label[for="btn-2"] {
    border-color: #000000;
}

#btn-3:checked ~ .slider-controls label[for="btn-3"] {
    border-color: #000000;
}

#btn-1:checked ~ .slider-inner .slider-slides {
    transform: translate(0);
}

#btn-2:checked ~ .slider-inner .slider-slides {
    transform: translate(-1160px);
}

#btn-3:checked ~ .slider-inner .slider-slides {
    transform: translate(-2320px);
}

.slider-inner {
    overflow: hidden;
}

.slider-item {
    float: left;
    width: 1040px;
    padding:  0 60px;
}

.slider-slides {
    width: 300%;
}

.slider-image {
    float: left;
    width: 384px;
}

.slider-info {
    margin: 0;
    padding: 0;
    padding-top: 40px;
    position: relative;
    float: right;
    width: 500px;
    min-height: 365px;
    z-index: 1;
}

.slider-info a {
    margin: 0;
    padding: 5px 45px;
    padding-left: 45px;
    display: inline-block;
    vertical-align: middle;
    font-family: "Gilroy";
    font-size: 18px;
    letter-spacing: 0.2em;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    width: 220px;
    height: 40px;
    box-sizing: border-box;
}

.slider-info a::after {
    content: "";
    display: block;
    position: relative;
    left: -45px;
    top: -18px;
    width: 220px;
    height: 6px;
    background: #f0c52e;
    box-shadow: 0 0 0 1px f4d361;
    z-index: -1;
}

.slider-info a:hover::after {
    height: 100%;
    top: -30px;
    box-shadow: none;
}

.slider-info a:active {
    color: rgba(0, 0, 0, 0.3);
}

.slider-number {
    margin: 0;
    padding: 0;
    position: absolute;
    font-family: "Gilroy";
    font-size: 180px;
    letter-spacing: 0.01em;
    color: #ffffff;
    right: -14px;
    top: 51px;
    z-index: -1;
}

.specification li {
    display: inline-block;
}

.popular {
    min-height:  530px;
}

.popular-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    min-height: 230px;
}

.popular-list li {
    list-style: none;
}

.popular-item {
    margin: 0;
    padding: 0;
    display: block;
    width: 160px;
    height: 160px;
    font-family: "Gilroy";
    font-size: 18px;
    letter-spacing: 0.01em;
    color: #000000;
    text-decoration: none;
    background: url("../img/popularspritesheet.png") #f7e296 no-repeat 5px 25px;
}

.popular-item:hover {
    background-color: #f0c52e;
}

.popular-item:active {
    background-position: -152px 25px;
    color: rgba(0, 0, 0, 0.3);
}

.popular-2 {
    background-position: -305px 12px;
}

.popular-2:active {
    background-position: -451px 12px;
}

.popular-3 {
    background-position: -585px 12px;
}

.popular-3:active {
    background-position: -716px 12px;
}

.popular-4 {
    background-position: -870px 25px;
}

.popular-4:active {
    background-position: -1037px 25px;
}

.popular-5 {
    background-position: -1177px 5px;
}

.popular-5:active {
    background-position: -1293px 5px;
}

.popular-6 {
    background-position: -1450px 25px;
}

.popular-6:active {
    background-position: -1642px 25px;
}

.popular-item p {
    position: relative;
    top: 190px;
}

.services {
    margin-bottom: 100px;
}

.service-block {
    float: right;
    width: 690px;
    min-height: 320px;
    margin-right: 150px;
}

.warranty,
.credit {
    display: none;
}

.logotypes {
    margin-bottom: 100px;
}

.logotypes a {
    float: left;
    margin-right: 24px;
}

.logotypes a:first-child {
    margin-left: 24px;
} 

.aboutus {
    float: left;
    width: 460px;
}

.contacts {
    float: right;
    width: 560px;
}

.main-footer {
    color: #ffffff;
    background: #464646;
}

.footer-logo {
    float: left;
    width: 163px;
    margin-top: 56px;
}

.footer-user-block {
    float: right;
    width: 325px;
    margin-top: 56px;
}

.adress {
    float: left;
    width: 210px;
    margin-right: 160px;
}

.footer-nav {
    float: left;
    width: 440px;
}

.footer-nav li {
    display: inline-block;
}

.phone-number {
    float: right;
}

.social {
    float: left;
    margin-top: 60px;
    margin-left: 505px;
}

.social-btn {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 16px;
    vertical-align: middle;
    border-radius: 50%;
    font-size: 0;
}

.social-btn-fb {
    background-image: url("../img/facebook.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.social-btn-insta {
    background-image: url("../img/insta.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.social-btn-tw {
    background-image: url("../img/twitter.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.academy { 
    float: right;
    margin-top: 60px;
}

.breadcrumbs {
    margin: 40px 0;
}

.breadcrumbs h2 {
    margin: 0;
}

.filter {
    float: left;
    width: 330px;
    height: 1280px;
}

.filter h3 {
    margin: 0;
}

.price-input input[type="range"] {
    cursor: pointer;
}

.price-input input,
.color-input input,
.bluetooth-input input {
    display: block;
}

.items-block {
    float: right;
    width: 830px;
}

.sort h3 {
    float: left;
    margin: 0;
    margin-right: 55px;
    padding-left: 72px
}

.sort-list {
    float: left;
}

.sort-list a:nth-child(3) {
    margin-right: 212px;
}

.arrow {
    display: inline-block;
    font-size: 0;
    padding: 0;
}

.arrow-up {
    margin-right: 26px;
}

.arrow::before {
    display: inline-block;
    content: "";
    border: 10px solid #000000;
    border-left-width: 10px;
    border-right-width: 10px;
    border-left-color: transparent;
    border-right-color: transparent;
}

.arrow-up::before {
    border-top-width: 0;
}

.arrow-down::before {
    border-bottom-width: 0;
}

.catalog-item {
    float: right;
    width: 360px;
    margin-left: 40px;
}

.paginator {
    float: left;
}

/*======================================
 Визуализация блоков
=======================================*/


.main-header,
main,
.main-footer {
/*
    outline: 3px solid green;
    background-color: lightgreen;
*/
}

/*удалить классы vision*/

.block-vision1,
.slider,
.popular,
.services,
.logotypes,
.info,
.block-vision2,
/*стр2*/.breadcrumbs,
.catalog-content {
/*
    outline: 3px solid red;
    background-color: pink;
*/
}

.header-logo,
.search-form,
.header-user-block,
.main-navigation,
.submenu,
.slider-control,
.slider-image,
.slider-info,
.popular-list,
.service-block,
.logotypes a,
.aboutus,
.contacts,
.footer-logo,
.footer-user-block,
.main-footer .adress,
.footer-nav,
.main-footer .phone-number,
.social,
.academy,
/*стр2*/.breadcrumbs h2,
.breadcrumbs a,
.filter,
.items-block {
/*
    outline: 3px solid yellow;
    background-color: #f7e296;
*/
}
