@font-face {
    font-weight: 300;
    font-family: "OpenSans";
    src:
        url("../fonts/open_sans/opensanslight.woff") format("woff"),
        url("../fonts/open_sans/opensanslight.woff2") format("woff2");
}

@font-face {
    font-weight: normal;
    font-family: "OpenSans";
    src:
        url("../fonts/open_sans/opensans.woff") format("woff"),
        url("../fonts/open_sans/opensans.woff2") format("woff2");
}

@font-face {
    font-weight: 800;
    font-family: "Gilroy";
    src:
        url("../fonts/gilroy/gilroyextrabold.woff") format("woff"),
        url("../fonts/gilroy/gilroyextrabold.woff2") format("woff2");
}

@font-face {
    font-weight: 300;
    font-family: "Gilroy";
    src:
        url("../fonts/gilroy/gilroylight.woff") format("woff"),
        url("../fonts/gilroy/gilroylight.woff2") format("woff2");
}

body {
    margin: 0;
    min-width: 1200px;
    color: #464646;
    letter-spacing: 0.01em;
    font-weight: 300;
    font-size: 15px;
    font-family: "OpenSans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    line-height: 30px;
}

.title1 {
    color: #000000;
    letter-spacing: 0;
    font-weight: 800;
    font-size: 47px;
    font-family: "Gilroy";
    line-height: 1.2em;
}

.title2 {
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 800;
    font-size: 16px;
    font-family: "Gilroy";
}

.title3 {
    color: #000000;
    letter-spacing: 0.01em;
    font-weight: 800;
    font-size: 18px;
    font-family: "Gilroy";
}

.clearfix::after {
    display: table;
    clear: both;
    content: "";
}

.main-header {
    margin-top: 40px;
}

.container,
.container-catalog {
    margin: 0 auto;
    min-height: 299px;
    width: 1160px;
}

.container-catalog {
    min-height: 185px;
}

.header-background {
    background-color: #f7e296;
}

.header-topline,
.header-topline,
.main-navigation {
    position: relative;
    padding: 0 60px;
}

.header-topline {
    padding-top: 40px;
    color: #000000;
}

.header-logo {
    position: absolute;
    top: -20px;
}

.search-form {
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid transparent;
}

.search-form::before {
    position: absolute;
    top: 11px;
    left: 3px;
    width: 16px;
    height: 16px;
    background: url("../img/icons-spritesheet.png") no-repeat -821px -30px;
    content: "";
}

.search-form input {
    float: left;
    margin: 0;
    padding: 0;
    padding-left: 4px;
    height: 39px;
    border: inherit;
    background-color: transparent;
    color: #000000;
    vertical-align: middle;
    letter-spacing: 0.01em;
    font: inherit;
    line-height: 36px;
}

.search-form input::-webkit-input-placeholder {
    color: #000000;  
}

.search-form input[type="text"] {
    float: left;
    padding-bottom: 10px;
    padding-left: 38px;
    width: 312px;
    opacity: 0.3;
}

.search-form input[type="text"]:hover {
    opacity: 0.6;
}

.search-form input[type="text"]:focus {
    outline: none;
    border-bottom: 2px solid #000000;
    opacity: 1;
}

.search-btn {
    float: right;
    box-sizing:border-box;
    margin: 0;
    padding: 0 23px;
    height: 49px;
    outline: 2px solid transparent;
    border: none;
    background: none;
    color: transparent;
    font: inherit;
}

.search-form input[type="text"]:focus ~ .search-btn {
    outline: 2px solid #000000;
    color: #000000;
}

.search-form input[type="text"]:focus ~ .search-btn:hover {
    background-color: #000000;
    color: #ffffff;
}

.search-btn:active {
    background-color: #000000;
    color: #4d4d4d;
}

.header-user-block,
.profiled-header-user-block {
    float: right;
    margin: 0;
    margin-top: 3px;
    padding: 0;
}

.header-user-block a,
.profiled-header-user-block a {
    position: relative;
    margin: 0;
    padding: 0;
    padding-left: 30px;
    color: #000000;
    vertical-align: bottom;
    text-decoration: inherit;
    font: inherit;
}

.profiled-header-user-block a:nth-child(2) {
    margin-right: 50px;
    padding: 0;
    opacity: 0.3;
}

.profiled-header-user-block a:nth-child(3) {
    margin-right: 30px;
}

.profiled-header-user-block a:nth-child(2)::before {
    display: none;
}

.header-user-block a:not(:last-child) {
    margin-right: 30px;
}

.header-user-block a:first-child {
    margin-right: 203px;
}

.profiled-header-user-block .profile {
    margin-right: 15px;
}

.header-user-block a:hover,
.profiled-header-user-block a:hover {
    opacity: 0.6;
}

.header-user-block a:focus,
.profiled-header-user-block a:focus {
    opacity: 0.3;
}

.header-user-block a::before,
.profiled-header-user-block a::before {
    position: absolute;
    bottom: 4px;
    left: 4px;
    width: 13px;
    height: 12px;
    background: url("../img/icons-spritesheet.png") no-repeat -486px -30px;
    content: "";
}

.header-user-block a:nth-child(2)::before,
.profiled-header-user-block a:nth-child(3)::before {
    bottom: 4px;
    left: 10px;
    width: 10px;
    height: 10px;
    background: url("../img/icons-spritesheet.png") no-repeat -416px -30px;
}

.header-user-block a:last-child::before,
.profiled-header-user-block a:last-child::before {
    left: 7px;
    width: 12px;
    background: url("../img/icons-spritesheet.png") no-repeat -344px -30px;
}

.main-navigation {
    margin-top: 16px;
}

.main-navigation a {
    margin: 0;
    padding: 0;
    color: #000000;
    text-decoration: inherit;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 800;
    font-size: 18px;
    font-family: "Gilroy";
}

.main-navigation a:hover {
    opacity: 0.6;
}

.main-navigation a:active {
    opacity: 0.3;
}

.main-navigation::after {
    position: absolute;
    top: 116px;
    left: 600px;
    width: 100px;
    height: 7px;
    background-color: #ffffff;
    content: "";
}

.catalog {
    margin: 0;
    padding: 0;
    list-style: none;
}

.catalog > li {
    position: relative;
    float: left;
    width: 240px;
    cursor: pointer;
}

.catalog-title:before {
    position: absolute;
    top: 6px;
    right: -6px;
    width: 16px;
    height: 16px;
    background: url("../img/icons-spritesheet.png") no-repeat -745px -30px;
    content: "";
}

.catalog-menu {
    position: absolute;
    left: -60px;
    z-index: 1;
    display: none;
    margin: 0;
    padding: 0;
    padding-top: 33px;
    padding-left: 20px;
    width: 1140px;
    min-height: 120px;
    background: #f7e296;
    list-style: none;
    font-size: 0;
    flex-wrap: wrap;
}

catalog-menu ul {
    padding: 0;
    margin: 0;
}

.catalog > li:hover .catalog-menu {
    display: flex;
}

.catalog-menu a {
    margin-right: 58px;
    color: #000000;
    text-transform: none;
    letter-spacing: 0.01em;
    font-weight: 300;
    font-size: 15px;
    line-height: 36px;
}

.services-menu {
    float: right;
}

.services-menu a {
    display: inline-block;
    float: left;
    padding-left: 20px;
    vertical-align: middle;
}

.services-menu a:first-child {
    margin-right: 14px;
}

.services-menu a:nth-child(2) {
    margin-right: 105px;
}

.services-menu a:last-child {
    float: right;
    margin: 0;
    padding: 0;
}

.slider {
    position: relative;
    margin-top: -127px;
}

.slider input[type=radio] {
    display: none;
}

.slider-btn-wrap {
    position: relative;
}

.slider-controls {
    position: absolute;
    bottom: 5px;
    right: 5px;
    z-index: 5;
}

.slider-controls label {
    display: inline-block;
    margin: 0 3px;
    margin-right: 17px;
    width: 4px;
    height: 4px;
    border: 3px solid rgba(178, 178, 178, 0.3);
    border-radius: 50%;
    vertical-align: middle;
    cursor: pointer;
}

.slider-controls label:hover {
    border: 3px solid rgba(153, 153, 153, 0.4);
}

.slider-controls label:active {
border: 3px solid rgba(0, 0, 0, 1);
}

.btn-1:checked ~ .slider-inner .slider-controls label[for="btn-1"] {
    border-color: #000000;
}

.btn-2:checked ~ .slider-inner .slider-controls label[for="btn-2"] {
    border-color: #000000;
}

.btn-3:checked ~ .slider-inner .slider-controls label[for="btn-3"] {
    border-color: #000000;
}

.btn-1:checked ~ .slider-inner .slider-slides {
    transform: translate(0);
}

.btn-2:checked ~ .slider-inner .slider-slides {
    transform: translate(-1160px);
}

.btn-3:checked ~ .slider-inner .slider-slides {
    transform: translate(-2320px);
}

.slider-inner {
    position: relative;
    overflow: hidden;
}

.slider-item {
    float: left;
    padding:  0 60px;
    width: 1040px;
}

.slider-slides {
    width: 300%;
}

.slider-image {
    float: left;
    margin-left: 30px;
}

.eatingagain {
    margin-left: 60px;
}

.quadro {
    margin: 0;
    margin-top: 65px;
    margin-left: -25px;
}

.slider-info {
    position: relative;
    z-index: 1;
    float: right;
    margin: 0;
    padding: 0;
    padding-top: 40px;
    min-height: 365px;
    width: 501px;
}

.slider-info h2 {
    min-height: 112px;
}

.info-description {
    margin-top: -21px;
}

.slider-info a {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    margin-top: 28px;
    padding: 5px 45px;
    padding-left: 45px;
    width: 220px;
    height: 40px;
    color: #000000;
    vertical-align: middle;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 800;
    font-size: 18px;
    font-family: "Gilroy";
}

.slider-info a::after {
    position: absolute;
    top: 16px;
    left: 0px;
    z-index: -1;
    display: block;
    width: 100%;
    height: 6px;
    background: #f0c52e;
    content: "";
}

.slider-info a:hover::after {
    top: 0;
    height: 100%;
    box-shadow: none;
}

.slider-info a:active {
    color: rgba(0, 0, 0, 0.3);
}

.slider-number {
    position: absolute;
    top: 61px;
    right: -14px;
    z-index: -1;
    margin: 0;
    padding: 0;
    color: #ffffff;
    letter-spacing: 0.01em;
    font-weight: 800;
    font-size: 180px;
    font-family: "Gilroy";
}

.specification {
    margin: 0;
    padding: 0;
    font-size: 0;
}

.specification-info {
    display: inline-block;
    padding-top: 60px;
    vertical-align: middle;
}

.specification-info:not(:last-child) {
    margin-right: 75px;
}

.specification-info b {
    color: #000000;
    letter-spacing: 0.01em;
    font-weight: 300;
    font-size: 36px;
    font-family: "Gilroy";
}

.specification-info p {
    margin-top: -1px;
    font-size: 13px;
}

.popular {
    margin-top: 78px;
    min-height:  440px;
}

.popular-list {
    display: flex;
    margin: 0;
    padding: 0;
    min-height: 230px;

    justify-content: space-between;
}

.popular-list li {
    list-style: none;
    line-height: 1.2;
}

.popular-item {
    display: block;
    margin: 0;
    padding: 0;
    width: 160px;
    height: 160px;
    background: url("../img/popularspritesheet.png") #f7e296 no-repeat 5px 25px;
    color: #000000;
    text-decoration: none;
    letter-spacing: 0.01em;
    font-weight: 800;
    font-size: 18px;
    font-family: "Gilroy";
}

.popular-item:hover {
    background-color: #f0c52e;
}

.popular-item:active {
    background-position: -152px 25px;
    color: rgba(0, 0, 0, 0.3);
}

.popular-2 {
    background-position: -305px 12px;
}

.popular-2:active {
    background-position: -451px 12px;
}

.popular-3 {
    background-position: -585px 12px;
}

.popular-3:active {
    background-position: -716px 12px;
}

.popular-4 {
    background-position: -870px 25px;
}

.popular-4:active {
    background-position: -1037px 25px;
}

.popular-5 {
    background-position: -1177px 5px;
}

.popular-5:active {
    background-position: -1293px 5px;
}

.popular-6 {
    background-position: -1450px 25px;
}

.popular-6:active {
    background-position: -1642px 25px;
}

.popular-item p {
    position: relative;
    top: 195px;
}

.services {
    margin-bottom: 100px;
    /*height: 288px;*/
    background-color: #e5e5e5;
}

.benifits-container { 
    width: 1160px; 
    margin: 0 auto; 
}

.services input[type=radio] {
    display: none;
}

.slider-controls2 {
    margin-top: -100px;
}

.slider-controls2 {
    float: left;
    padding: 0;
    padding-top: 20px;
    width: 277px;
    min-height: 299px;
    border-right: 7px solid;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 800;
    font-size: 18px;
    font-family: "Gilroy";
}

.slider-controls2 label {
    position: relative;
    z-index: 0;
    display: block;
    margin-bottom: 29px;
    padding: 0 20px;
    padding-top: 5px;
    min-height: 35px;
    cursor: pointer;
}

.slider-controls2 label::after {
    position: absolute;
    top: 12px;
    left: 0px;
    z-index: -1;
    display: block;
    width: 160px;
    height: 6px;
    background: #f0c52e;
    box-shadow: 0 0 0 1px #f4d361;
    content: "";
}

.slider-controls2 label:first-child::after {
    top: 17px;
}

.slider-controls2 label:hover::after {
    top: 0;
    height: 100%;
    box-shadow: none;
}

.slider-controls2 label:active {
    background-color: #000000;
    color: #f7e184;
}

.btn-4:active ~ .slider-controls2 label[for="btn-4"]::after,
.btn-5:active ~ .slider-controls2 label[for="btn-5"]::after,
.btn-6:active ~ .slider-controls2 label[for="btn-6"]::after {
    display: none;
}

.btn-4:checked ~ .slider-controls2 label[for="btn-4"]::after,
.btn-5:checked ~ .slider-controls2 label[for="btn-5"]::after,
.btn-6:checked ~ .slider-controls2 label[for="btn-6"]::after {
    display: none;
}

.slider-controls2 label:first-child {
    margin-top: 60px;
}

.slider-controls2 label:nth-child(2) {
    padding: 0 25px;
}

.slider-controls2 label:last-child {
    padding: 0 40px;
}

.btn-4:checked ~ .slider-controls2 label[for="btn-4"],
.btn-5:checked ~ .slider-controls2 label[for="btn-5"],
.btn-6:checked ~ .slider-controls2 label[for="btn-6"] {
    background-color: #000000;
    color: #f7e184;
}

.btn-4:checked ~ .services-inner .services-slides {
    transform: translate(0);
}

.btn-5:checked ~ .services-inner .services-slides {
    transform: translate(-805px);
}

.btn-6:checked ~ .services-inner .services-slides {
    transform: translate(-1620px);
}

.services-inner {
    position: relative;
    top: -70px;
    overflow: hidden;
}

.services-slides {
    float: left;
    padding-left: 117px;
    width: 300%;
}

.service-block {
    position: relative;
    float: left;
    margin-right: 120px;
    min-height: 290px;
    width: 690px;
}

.service-block::after {
    position: absolute;
    top: 55px;
    left: 551px;
    background: url("../img/services-spritesheet.png") no-repeat -246px -30px;
    content: "";
}

.delivery::after {
    width: 136px;
    height: 164px;
}

.warranty::after {
    top: 30px;
    left: 517px;
    width: 171px;
    height: 195px;
    background-position: -442px -30px;
}

.credit::after {
    top: 30px;
    left: 537px;
    width: 156px;
    height: 188px;
    background-position: -30px -30px;
}

.service-block p {
    float: left;
    margin: 0;
    margin-top: -12px;
}

.logotypes {
    margin-top: -6px;
}

.logotypes a {
    float: left;
    margin-right: 40px;
    opacity: 0.2;
    filter: grayscale(1);
}

.logotypes a:last-child {
    margin-right: 0;
    margin-left: -2px;
}

.logotypes a:hover {
    opacity: 1;
    filter: none;
}

.info {
    margin-top: -97px;
    margin-bottom: 69px;
}

.info .title1 {
    position: relative;
}

.info .title1::before {
    position: absolute;
    top: -48px;
    width: 80px;
    height: 7px;
    background: #000000;
    content: "";
}

.info p {
    margin-bottom: 30px;
    letter-spacing: normal;
}

.aboutus {
    float: left;
    width: 475px;
}

.transport {
    margin: 0;
    margin-top: 71px;
    padding: 0;
    padding-left: 18px;
    list-style-type: circle;
    list-style-image: url(../img/list-circle.png);
}

.transport li {
    margin-bottom: 10px;
    padding-left: 18px;
    color: #000000;
    font-weight: 800;
    font-size: 16px;
    font-family: "Gilroy";
}

.contacts {
    float: right;
    width: 560px;
}

.map {
    display: inline-block;
    margin-top: 9px;
    vertical-align: middle;
}

.about-us,
.writeus {
    position: relative;
    margin: 0;
    margin-top: 65px;
    padding: 0 40px;
}

.about-us {
    display: inline-block;
    margin-top: 39px;
    padding: 15px 22px;
    color: #000000;
    vertical-align: middle;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 800;
    font-size: 18px;
    font-family: "Gilroy";
}

.writeus {
    padding: 15px 40px;
    display: inline-block;
    margin-top: 53px;
    color: #000000;
    vertical-align: middle;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 800;
    font-size: 18px;
    font-family: "Gilroy";
}

.about-us::after,
.writeus::after {
    position: absolute;
    top: 43%;
    left: 0px;
    z-index: -1;
    display: block;
    width: 100%;
    height: 14%;
    background: #f0c52e;
    box-shadow: 0 0 0 1px f4d361;
    content: "";
}

.about-us:hover::after,
.writeus:hover::after {
    top: 0;
    height: 100%;
    box-shadow: none;
}

.about-us:active,
.writeus:active {
    color: rgba(0, 0, 0, 0.3);
}

.modal-map {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 15;
    display: none;
    margin-top: -280px;
    margin-left: -480px;
    width: 960px;
    height: 559px;
    background: url("../img/map-big.jpg");
    box-shadow: 
        0 10px 20px 0 rgba(4, 6, 6, 0.2),
        55px 0 40px -55px rgba(4, 6, 6, 0.75),
        -55px 0 40px -55px rgba(4, 6, 6, 0.75);
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.modal-map-show {
    display: block;
}

.modal-map-close {
    position: absolute;
    top: 22px;
    right: 22px;
    width: 55px;
    height: 55px;
    outline: none;
    border: 0;
    border-radius: 50%;
    background-color: rgba(240, 197, 46, 0.5);
    font-size: 0;
    cursor: pointer;
}

.modal-map-close:hover {
    background-color: rgba(240, 197, 46, 1)
}

.modal-map-close::before,
.modal-map-close::after {
    position: absolute;
    top: 26px;
    left: 10px;
    width: 35px;
    height: 3px;
    border-radius: 1px;
    background-color: #ffffff;
    content: "";
}

.modal-map-close:active::before,
.modal-map-close:active::after {
    background-color: #f5d76d;
}

.modal-map-close::before {
    transform: rotate(45deg);
}

.modal-map-close::after {
    transform: rotate(-45deg);
}

@keyframes bounce {
  0%   {
    transform: translateY(-2000px);
  }
  70%  {
    transform: translateY(30px);
  }
  90%  {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

.modal-form {
    position: fixed;
    top: 10%;
    left: 50%;
    z-index: 5;
    display: none;
    margin-left: -490px;
    padding: 85px 100px;
    width: 760px;
    background-color: #ffffff;
    box-shadow: 
        0 10px 20px 0 rgba(4, 6, 6, 0.2),
        55px 0 40px -55px rgba(4, 6, 6, 0.75),
        -55px 0 40px -55px rgba(4, 6, 6, 0.75);
}

.modal-form-show {
    display: block;
    animation: bounce 0.6s;
}

.modal-form-error {
  animation: shake 0.6s;
}

.modal-form-close {
    position: absolute;
    top: 22px;
    right: 22px;
    width: 55px;
    height: 55px;
    outline: none;
    border: 0;
    border-radius: 50%;
    background-color: rgba(240, 197, 46, 0.5);
    font-size: 0;
    cursor: pointer;
}

.modal-form-close:hover {
    background-color: rgba(240, 197, 46, 1)
}

.modal-form-close::before,
.modal-form-close::after {
    position: absolute;
    top: 26px;
    left: 10px;
    width: 35px;
    height: 3px;
    border-radius: 1px;
    background-color: #ffffff;
    content: "";
}

.modal-form-close:active::before,
.modal-form-close:active::after {
    background-color: #f5d76d;
}

.modal-form-close::before {
    transform: rotate(45deg);
}

.modal-form-close::after {
    transform: rotate(-45deg);
}



.writeus-form {
    margin: 0;
    padding: 0;
}

.writeus-form label {
    display: block;
    margin-top: 2px;
    margin-bottom: 3px;
    color: #000000;
    font-weight: 800;
    font-size: 18px;
    font-family: "Gilroy";
}

.letter-field {
    margin-top: 30px;
}

.writeus-form input {
    width: 360px;
    height: 50px;
}

.writeus-form input,
.letter-field textarea {
    margin: 0;
    padding: 0;
    padding-left: 15px;
    border: 0;
    background-color: #f2f2f2;
    color: rgba(70, 70, 70, 1s);
    font-weight: normal;
    font-size: 14px;
    font-family: "OpenSans";
}

.writeus-form input:hover,
.letter-field textarea:hover {
background-color: #eaeaea;
}

.writeus-form input:focus,
.letter-field textarea:focus {
    outline: 3px solid #f7e296;
}

.writeus-form input:invalid,
.letter-field textarea:invalid {
    background-color: #f6dada;
}

.letter-field textarea {
    padding-top: 15px;
    width: 755px;
}

.letter-field textarea::-webkit-input-placeholder,
.contacts form input::-webkit-input-placeholder {
    color: rgba(70, 70, 70, 0.4);
    font-weight: normal;
    font-size: 14px;
    font-family: "OpenSans";
}

.left-input {
    margin-right: 30px;
}

.left-input,
.right-input {
    display: inline-block;
    width: 360px;
    vertical-align: middle;
    font-size: 0;
}

.send-btn {
    position: relative;
    z-index: 0;
    margin: 0;
    margin-top: 65px;
    padding: 0 40px;
    outline: 0;
    border: 0;
    background-color: transparent;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 800;
    font-size: 18px;
    font-family: "Gilroy";
    cursor: pointer;
}

.send-btn::after {
    position: absolute;
    top: 8px;
    left: 0px;
    z-index: -1;
    display: block;
    width: 100%;
    height: 6px;
    background: #f0c52e;
    box-shadow: 0 0 0 1px f4d361;
    content: "";
}

.send-btn:hover::after {
    top: 0;
    height: 100%;
    box-shadow: none;
}

.send-btn:active {
    color: rgba(0, 0, 0, 0.3);
}

.main-footer {
    min-height: 323px;
    background: #464646;
    color: #ffffff;
}

.footer-topline {
    padding-top: 65px;
}

.footer-logo {
    position: relative;
    float: left;
    width: 163px;
}

.footer-logo::after {
    position: absolute;
    top: 173px;
    left: 0;
    width: 80px;
    height: 7px;
    background-color: #ffc600;
    content: "";
}

.footer-user-block {
    float: right;
    margin-top: -2px;
}

.footer-user-block a {
    position: relative;
    margin-right: 30px;
    padding-left: 30px;
    color: #ffffff;
    vertical-align: bottom;
    text-decoration: inherit;
    font: inherit;
    opacity: 0.7;
}

.footer-user-block a:first-child {
    margin-right: 27px;
}

.footer-user-block a:last-child {
    margin-right: 0;
}

.footer-user-block a::before {
    position: absolute;
    bottom: 1px;
    left: 7px;
    width: 15px;
    height: 15px;
    background: url("../img/icons-spritesheet.png") no-repeat -271px -30px;
    content: "";
}

.footer-user-block a:nth-child(2)::before {
    background-position: -201px -30px;
}

.footer-user-block a:last-child::before {
    background-position: -129px -30px;;
}

.footer-user-block a:hover {
    opacity: 1;
}

.footer-user-block a:active {
    opacity: 0.3;
}

.footer-middleline {
    margin-top: 8px;
}

.adress {
    display: inline-block;
    float: left;
    margin-top: -3px;
    margin-right: 112px;
    width: 210px;
    vertical-align: middle;
}

.footer-nav {
    float: left;
    margin: 0;
    padding: 0;
}

.footer-nav li {
    display: inline-block;
}

.footer-nav a {
    margin: 0;
    margin-right: 25px;
    margin-left: 5px;
    padding: 0;
    color: #ffffff;
    text-decoration: inherit;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 800;
    font-size: 18px;
    font-family: "Gilroy";
}

.footer-nav a:hover {
    opacity: 0.6;
}

.footer-nav a:active {
    opacity: 0.3;
}

.phone-number {
    display: inline-block;
    float: right;
    margin-top: -3px;
    vertical-align: middle;
}

.footer-bottomline {
    margin-top: 42px;
}

.social {
    float: left;
    margin-left: 505px;
}

.social-btn {
    display: inline-block;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: url("../img/icons-spritesheet.png") no-repeat;
    vertical-align: middle;
    font-size: 0;
    opacity: 0.3;
}

.social-btn:hover {
    opacity: 0.6;
}

.social-btn:active {
    opacity: 0.1;
}

.social-btn-fb {
    background-position: -29px -29px;
}

.social-btn-insta {
    background-position: -645px -29px;
}

.social-btn-tw {
    background-position: -896px -29px;
}

.academy {
    font-size: 0;
    float: right;
    margin-top: 3px;
}

.logo:hover {
    opacity: 0.6;
}

.logo:active {
    opacity: 0.3;
}

.flogo {
    position: relative;
    top: -5px;
    left: -2px;
}

.breadcrumbs-container {
    margin: 0 auto;
    width: 1160px;
}

.breadcrumbs {
    margin-top: 34px;
    margin-bottom: 44px;
    padding: 0 60px;
}

.breadcrumbs h2 {
    margin: 0;
}

.breadcrumbs a {
    position: relative;
    display: inline-block;
    margin-top: 16px;
    margin-right: 16px;
    padding-right: 16px;
    color: rgba(0, 0, 0, 0.3);
    vertical-align: middle;
    text-decoration: none;
    font-size: 14px;
}

.breadcrumbs a:hover:not(:last-child) {
    color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active:not(:last-child) {
    color: rgba(0, 0, 0, 0.1);
}

.breadcrumbs a::before {
    position: absolute;
    top: 13px;
    right: 0px;
    width: 4px;
    height: 4px;
    border: 1px solid #000000;
    border-bottom-style: none;
    border-left-style: none;
    content: "";
    transform: rotate(45deg);
}

.breadcrumbs a:last-child::before {
    display: none;
}

.catalog-content-left {
    float: left;
    width: calc(50% - 251px);
    background-color: rgba(0, 0, 0, 0.08);
}

.catalog-content-left-title-container {
    background-color: rgba(0, 0, 0, 0.08);
}

.catalog-content-left-title-wrap {
    float: right;
    padding: 4px 0 3px 60px;
    width: 270px;
}

.catalog-content-left-inner {
    float: right;
}

.catalog-content-right {
    float: left;
     width: calc(50% + 251px);
}

.catalog-content-right-title-container {
    margin-bottom: 60px;
    background-color: rgba(0, 0, 0, 0.08);
}

.catalog-content-right-title-wrap {
    float: left;
    width: 830px;
}

.catalog-content-right-inner {
    float: left;
}

.filter {
    float: left;
    margin-top: 9px;
    padding-left: 60px;
    width: 270px;
    height: 1205px;
}

.filter fieldset {
    margin: 0;
    margin-top: 70px;
    padding: 0;
    border: 0;
    color: #000000;
    font-size: 14px;
}

.filter fieldset:nth-child(2) {
    margin-top: 35px;
}
.filter fieldset:nth-child(3) {
    margin-top: 45px;
}

.filter legend {
    position: relative;
    color: #000000;
    letter-spacing: 0.01em;
    font-weight: 800;
    font-size: 18px;
    font-family: "Gilroy";
}

.filter legend::before {
    position: absolute;
    top: -9px;
    width: 200px;
    height: 2px;
    background: #000000;
    content: "";
}

.range-controls {
    position: relative;
    margin-bottom: 15px;
    padding-top: 32px;
}

.range-controls .scale {
    width: 200px;
    height: 2px;
    background: #dbdbdb;
}

.range-controls .bar {
    width: 56%;
    height: 2px;
    background: #91c92f;
}

.range-controls .toggle {
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 10px;
    height: 10px;
    border: 2px solid #000000;
    border-radius: 50%;
    background: #eeeeee;
    cursor: pointer;
}

.range-controls .toggle:active {
    border: 3px solid #ffffff;
    background: #7eae29;
    box-shadow: 0 4px 6px -3px #777777;
}

.range-controls .toggle-min {
/*    left: 20px;*/
}

.range-controls .toggle-max {
    left: 112px;
}

.price-controls {
    margin-top: -8px;
    width: 200px;
    color: rgba(0, 0, 0, 0.2);
    font-weight: 300;
    font-size: 0;
    font-family: "Gilroy";
}

.price-controls label {
    display: inline-block;
    width: 89px;
    vertical-align: baseline;
    font-size: 14px;
}

.price-controls input {
    width: 66px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0.2);
    font-weight: 300;
    font-size: 14px;
    font-family: "Gilroy";
}

.color-input label {
    position: relative;
    display: block;
    padding-left: 38px;
    cursor: pointer;
}

.color-input div {
    padding-top: 19px;
}

.color-input div:not(:nth-child(2)) {
    padding-top: 10px;
}

.color-input label::before {
    position: absolute;
    top: 3px;
    left: 0;
    z-index: 1;
    width: 23px;
    height: 23px;
    background: #dbdbdb;
    content: "";
}

.color-input input[type="checkbox"]:checked:active ~ label::after,
.color-input label::after {
    position: absolute;
    top: -50px;
    left: -76px;
    z-index: 2;
    width: 5px;
    height: 5px;
    border: 2px solid transparent;
    border-top-style: none;
    border-right-style: none;
    content: "";
    transition: 0.3s ease-out;
    transform: rotate(-205deg);
}

.color-input label:hover::before {
    background: #cecece;
}

.color-input input[type="checkbox"]:active ~ label::before {
    background: #c4c4c4;
}

.color-input input[type="checkbox"]:active ~ label::after,
.color-input input[type="checkbox"]:checked ~ label::after {
    top: 10px;
    left: 5px;
    width: 9px;
    height: 4px;
    border-color: #000000;
    border-top-style: none;
    border-right-style: none;
    border-radius: 0;
    transform: rotate(-45deg);
}

.bluetooth-input input[type="radio"]:checked:active ~ label::after {
    display: none;
}

.color-input input[type="checkbox"] {
    display: none;
}

.bluetooth-input input[type="radio"] {
    display: none;
}

.bluetooth-input label {
    position: relative;
    display: block;
    padding-left: 38px;
    cursor: pointer;
}


.bluetooth-input label::before {
    position: absolute;
    top: 3px;
    left: -2px;
    z-index: 1;
    width: 19px;
    height: 19px;
    border: 2px solid #c6c6c6;
    border-radius: 50%;
    content: "";
}

.bluetooth-input label:hover::before {
    border-color: #bcbcbc;
}

.bluetooth-input label:active::before {
    border-color: #acacac;
}

.bluetooth-filter:active ~ label::after,
.bluetooth-filter:checked ~ label::after {
    position: absolute;
    top: 10px;
    left: 5px;
    z-index: 2;
    width: 5px;
    height: 5px;
    border: 2px solid #000000;
    border-radius: 50%;
    content: "";
}

.bluetooth-input div {
    padding-top: 20px;
}

.bluetooth-input div:nth-child(3) {
    padding-top: 11px;
}

.bluetooth-input button[type="submit"] {
    position: relative;
    display: block;
    margin: 0;
    margin-top: 30px;
    padding: 15px 40px;
    outline: none;
    border: none;
    background: none;
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 800;
    font-size: 18px;
    font-family: "Gilroy";
    cursor: pointer;
}

.bluetooth-input button[type="submit"]:active {
    color: rgba(0, 0, 0, 0.3);
}

.bluetooth-input button[type="submit"]::before {
    position: absolute;
    top: 40%;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 16%;
    background-color: #f0c52e;
    content: "";
}

.bluetooth-input button[type="submit"]:hover::before {
    top: 0;
    height: 100%;
}

.items-block {
    float: right;
    margin-top: 9px;
    width: 830px;
}

.sort {
    margin: 0;
    padding: 0;
    padding-top: 19px;
    min-height: 50px;
    background-color: #ebebeb;
}

.sort h3 {
    float: left;
    margin: 0;
    padding: 0;
    padding-left: 72px;
    width: 18%;
}

.sort-list-items {
    float: left;
    width: 88%;
}

.arrow-list {
    text-align: right;
    float: right;
    width: 12%;
}

.sort-list {
    float: right;
    background-color: #ebebeb;
    font-size: 0;
    width: 67.5%;
}
.sort-list a {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    font-weight: normal;
    font-size: 14px;
    margin-right: 27px;
}

.sort-list a:last-child {
    margin-right: 0;
}

.sort-list a:not(.arrow) {
    color: rgba(0, 0, 0, 0.3);
}

.sort-list a:hover:not(.arrow) {
    color: rgba(0, 0, 0, 0.6);
}

.sort-list a:active:not(.arrow) {
    color: rgba(0, 0, 0, 1);
}

.sort-list .active:not(.arrow) {
    color: rgba(0, 0, 0, 1);
}

.sort-list .arrow {
    display: inline-block;
    padding: 0;
    font-size: 0;
}

.sort-list .arrow-down {
    margin-right: -2px;
}

.sort-list .arrow-up {
    margin-right: 23px;
}

.sort-list .arrow::before {
    display: inline-block;
    border: 9px solid rgba(0, 0, 0, 0.2);
    border-right-width: 9px;
    border-right-color: transparent;
    border-left-width: 9px;
    border-left-color: transparent;
    content: "";
    vertical-align: middle;
}

.sort-list .arrow:hover::before {
    border-color: rgba(0, 0, 0, 0.4);
    border-right-color: transparent;
    border-left-color: transparent;
}

.sort-list .arrow:active::before {
    border-color: rgba(0, 0, 0, 1);
    border-right-color: transparent;
    border-left-color: transparent;
}

.arrow ~ .active::before {
    border-color: rgba(0, 0, 0, 1);
    border-right-color: transparent;
    border-left-color: transparent;
}

.sort-list .arrow-up::before {
    border-top-width: 0;
}

.sort-list .arrow-down::before {
    border-bottom-width: 0;
}

.catalog-item {
    position: relative;
    float: right;
    margin-bottom: 37px;
    margin-left: 40px;
    width: 360px;
}

.catalog-item .flag{
    position: absolute;
    top: 29px;
    right: 27px;
     z-index:20;
    width: 60px;
    height: 60px;
}

.catalog-item .flag-new{
    background: url("../img/NEW.png") no-repeat 0 0;
}

.catalog-item:hover .item-img {
    opacity: 0.7;
}

.catalog-item:hover .shopping-btn {
    display: block;
}

.catalog-item .btn {
    position: absolute;
    top: 160px;
    left: 22%;
    z-index: 1;
    display: none;
    margin: 0;
    padding: 10px 40px;
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 800;
    font-size: 18px;
    font-family: "Gilroy";
    background-color: transparent;
    border: 0;
    outline: 0;
}

.catalog-item .btn:active {
    color: rgba(0, 0, 0, 0.3);
}

.catalog-item .btn::before {
    position: absolute;
    top: 40%;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 20%;
    background-color: #f0c52e;
    content: "";
}

.catalog-item .btn:hover::before {
    top: 0;
    height: 100%;
}

.catalog-item .compare-btn {
    position: absolute;
    top: 230px;
    left: 23%;
    z-index: 1;
    display: none;
    margin: 0;
    padding: 0 25px;
    color: rgba(0, 0, 0, 0.5);
    background-color: transparent;
    letter-spacing: 0.01em;
    font-size: 13px;
    border: 0;
    outline: 0;
}

.catalog-item .compare-btn:hover {
    color: rgba(0, 0, 0, 1);
}

.catalog-item .compare-btn:active {
    color: rgba(0, 0, 0, 0.2);
}

.catalog-item .item-info {
    padding-top: 20px;
}

.title3 {
    float: left;
    margin: 0;
    padding: 0;
}

.title3 a {
    color: inherit;
    text-decoration: none;
}

.catalog-item p {
    float: right;
    margin: 0;
    padding: 0;
    letter-spacing: 0.01em;
    font-weight: 300;
    font-size: 16px;
    font-family: "Gilroy";
}

.paginator {
    float: right;
    margin-top: -10px;
    min-height: 70px;
    width: 760px;
    background-color: #ebebeb;
}

.paginator a{
    display: inline-block;
    padding: 20px 7px;
    min-width: 20px;
    height: 30px;
    color: rgba(0, 0, 0, 0.3);
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 800;
    font-size: 16px;
    font-family: "Gilroy";
}

.paginator .active {
    color: rgba(0, 0, 0, 1);
}

.paginator a:hover {
    color: rgba(0, 0, 0, 0.6);
}

.paginator a:active {
    color: rgba(0, 0, 0, 1);
}

.paginator .prev {
    margin-right: 193px;
    padding: 20px 30px;
    color: rgba(0, 0, 0, 1);
}

.paginator .next {
    margin-left: 183px;
    padding: 20px 30px;
    color: rgba(0, 0, 0, 1);
}

.paginator .prev:hover,
.paginator .next:hover {
    background-color: #d9d9d9;
    color: rgba(0, 0, 0, 1);
}

.paginator .prev:active,
.paginator .next:active {
    color: rgba(0, 0, 0, 0.3);
}