body {
    font-size: 15px;
    line-height: 30px;
    color: #464646;
    font-weight: lighter;
    font-family: "OpenSans Light", "Arial", sans-serif;
}

.title1 {
    font-size: 47px;
    color: #000000;
    font-weight: 900;
    font-family: "Gilroy", "Arial", sans-serif;
}

.title2 {
    font-size: 16px;
    color: #000000;
    font-weight: 900;
    font-family: "Gilroy", "Arial", sans-serif;;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.title3 {
    font-size: 18px;
    color: #000000;
    font-weight: 900;
    font-family: "Gilroy", "Arial", sans-serif;;
    letter-spacing: 0.01em;
}

main {
    display: block;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.main-header {
    margin-top: 40px;
}

.container,
.container-catalog {
    width: 1160px;
    min-height: 300px;
    margin: 0 auto;
}

.container-catalog {
    min-height: 185px;
}

.header-topline,
.main-navigation {
    padding: 0 60px;
}

.header-logo {
    position: relative;
    top: -20px;
}

.search-form {
    float: left;
    width: 440px;
}

.search-form input {
    vertical-align: middle;
}

.header-user-block {
    float: right;
}

.header-user-block a {
    margin-left: 64px;
}

.header-user-block a:first-child {
    margin-right: 174px;
}

.main-navigation {
    margin-top: 35px;
}

.catalog {
    float: left;
    width: 240px;
}

.services-menu {
    float: right;
    width: 500px;
}

.services-menu a:first-child {
    margin-right: 37px;
}

.services-menu a:nth-child(2) {
    margin-right: 114px;
}

.catalog-menu {
    position: absolute;
    font-size: 0;
    vertical-align: middle;
    display: none;
}

.catalog-menu li {
    font-size: 15px;
    margin-right: 20px; 
    display: inline-block;
}

.catalog-opener:checked ~ .catalog-menu {
    display: block;
}

.slider {
    margin-bottom: 100px;
}

.slider-item3,
.slider-item2 {
    display: none;
}

.slider-image {
    position: relative;
    left: 89px;
    top: -142px;
    float: left;
    width: 384px;
    margin-right: 220px;
}

.slider-info {
    float: right;
    width: 480px;
    margin-right: 75px;
}

.specification li {
    display: inline-block;
}

.popular {
    margin-bottom: 150px;
}

.popular-list {
    min-height: 230px;
}

.popular-list li {
    display: inline-block;
}

.services {
    margin-bottom: 100px;
}

.service-block {
    float: right;
    width: 690px;
    min-height: 320px;
    margin-right: 150px;
}

.warranty,
.credit {
    display: none;
}

.logotypes {
    margin-bottom: 100px;
}

.logotypes a {
    float: left;
    margin-right: 24px;
}

.logotypes a:first-child {
    margin-left: 24px;
} 

.aboutus {
    float: left;
    width: 460px;
    margin-right: 135px;
}

.contacts {
    float: right;
    width: 560px;
}

.footer-logo {
    float: left;
    width: 163px;
    margin-top: 56px;
}

.footer-user-block {
    float: right;
    width: 325px;
    margin-top: 56px;
}

.adress {
    float: left;
    width: 210px;
    margin-right: 160px;
}

.footer-nav {
    float: left;
    width: 440px;
    margin-right: 180px;
}

.footer-nav li {
    display: inline-block;
}

.phone-number {
    float: right;
}

.social {
    float: left;
    margin-top: 60px;
    margin-left: 505px;
}

.academy { 
    float: right;
    margin-top: 60px;
}

.breadcrumbs {
    margin: 40px 0;
}

.breadcrumbs h2 {
    margin: 0;
}

.filter {
    float: left;
    width: 330px;
    height: 1280px;
}

.filter h3 {
    margin: 0;
}

.price-input input,
.color-input input,
.bluetooth-input input {
    display: block;
}

.items-block {
    float: right;
    width: 830px;
}

.sort h3 {
    float: left;
    width: 198px;
    margin: 0;
    padding-left: 72px
}

.sort-list {
    float: right;
    width: 555px;
}

.catalog-item {
    float: right;
    width: 360px;
    margin-left: 40px;
}

.paginator {
    float: left;
}

/*======================================
 Визуализация блоков
=======================================*/


.main-header,
main,
.main-footer {
/*
    outline: 3px solid green;
    background-color: lightgreen;
*/
}

/*удалить классы vision*/

.block-vision1,
.slider,
.popular,
.services,
.logotypes,
.info,
.block-vision2,
/*стр2*/.breadcrumbs,
.catalog-content {
/*
    outline: 3px solid red;
    background-color: pink;
*/
}

.header-logo,
.search-form,
.header-user-block,
.main-navigation,
.submenu,
.slider-control,
.slider-image,
.slider-info,
.popular-list,
.service-block,
.logotypes a,
.aboutus,
.contacts,
.footer-logo,
.footer-user-block,
.main-footer .adress,
.footer-nav,
.main-footer .phone-number,
.social,
.academy,
/*стр2*/.breadcrumbs h2,
.breadcrumbs a,
.filter,
.items-block {
/*
    outline: 3px solid yellow;
    background-color: #f7e296;
*/
}
